.data-key-text {
  font-size: 18px;
  margin: 2px;
}

.data-value-text {
  font-size: 16px;
  color: rgb(68, 68, 68);
  margin: 2px;
}
.header-bg-color {
  background-color: rgb(17, 168, 255);
}

.header-bg-button-color {
  background-color: rgb(28, 143, 28);
}
